<!DOCTYPE html>
<html ng-app="app">
<head>
    <base href="/" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="/_content/images/logo.png" type="image/png" />
    <link rel="icon" href="/_content/images/logo.png" type="image/png" />

    <title><%- locals.metaTitle || "PhotoHub" %></title>
    <meta name="description" content="<%- locals.metaDescription || "powered by the common people" %>" />

    <style>
        /* fonts & icons */
        <%- include('_content/fonts/montserrat.css') %>
        <%- include('_content/icomoon/style.css') %>

        /* bootstrap */
        <%- include('_content/bootstrap.css') %>

        /* syntax higlighter */
        <%- include('_content/syntaxhighlighter/css/shCore.css') %>
        <%- include('_content/syntaxhighlighter/css/shThemeDefault.css') %>

        /* custom */
        <%- include('_dist/app.css') %>
    </style>

</head>
<body>
    <!-- nav -->
    <div class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="showNav = !showNav">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="/_content/images/logo.png" />
                    <span>PhotoHub</span>
                </a>
            </div>
            <div class="navbar-collapse ng-cloak" ng-class="{'in': showNav, 'collapse': !showNav}">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/">Home</a></li>
                    <!-- <li><a href="/archive">Archive</a></li> -->
                    <li><a href="/contact">Contact</a></li>
                    <li><a href="/login" target="_self">Login</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- main -->
    <main ui-view>
        <% if(locals.templateUrl) { %>
            <div ng-non-bindable>
                <%- include(locals.templateUrl) %>
            </div>
        <% } %>
	</main>

    <!-- footer -->
    <div id="footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h4>About</h4>
                    <p>
                        PhotoHub brings together the people to the photographers. Photographers can regsiter online and upload their photographs for the people to view. People can select the photographers based upon their rating, minimum price or maximum price they charge for an event.
                    </p>
                    <p>
                        It's been designed with both photographers and people in mind, to be easily searchable and reachable throughout the region.
                    </p>
                </div>
                <div class="col-sm-4">
                    <h4>Registered Users</h4>
                    <!-- <%- include('_partials/month-list.html') %> -->
                </div>
                <div class="col-sm-4">
                    <h4>Ideas</h4>
                   <!--  <%- include('_partials/tag-list.html') %> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container text-center copyright">
        Powered by <a href="http://quadcoremediahouse.com/" target="_blank">the common people - PhotoHub</a>
    </div>

    <!-- carbon ads -->
    <div class="carbonads-container">
        <div class="ad-title">Sponsored by <span class="close-ad icon-cross"></span></div>
        <script async type="text/javascript" src="/carbonads.js?zoneid=1673&serve=C6AILKT&placement=jasonwatmore&d=<%= new Date().toISOString().slice(0, 13) %>" id="_carbonads_js"></script>
    </div>

    <!-- syntax highlighter -->
    <script src="/_content/syntaxhighlighter/js/shCore.js"></script>
    <script src="/_content/syntaxhighlighter/js/shBrushCSharp.js"></script>
    <script src="/_content/syntaxhighlighter/js/shBrushCss.js"></script>
    <script src="/_content/syntaxhighlighter/js/shBrushJScript.js"></script>
    <script src="/_content/syntaxhighlighter/js/shBrushPlain.js"></script>
    <script src="/_content/syntaxhighlighter/js/shBrushSql.js"></script>
    <script src="/_content/syntaxhighlighter/js/shBrushVb.js"></script>
    <script src="/_content/syntaxhighlighter/js/shBrushXml.js"></script>
    <script>
        SyntaxHighlighter.defaults['gutter'] = true;
        SyntaxHighlighter.defaults['smart-tabs'] = true;
        SyntaxHighlighter.defaults['auto-links'] = true;
        SyntaxHighlighter.defaults['collapse'] = false;
        SyntaxHighlighter.defaults['light'] = false;
        SyntaxHighlighter.defaults['tab-size'] = 4;
        SyntaxHighlighter.defaults['toolbar'] = true;
        SyntaxHighlighter.defaults['wrap-lines'] = true;
    </script>

    <!-- jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    <script>
        $(function () {
            window.setTimeout(function () {
                // wait a couple of seconds to show ad
                $('.carbonads-container').fadeIn();
            }, 2000);

            // enable closing of ad
            $('.close-ad').click(function () {
                $('.carbonads-container').hide();
            });
        });
    </script>

    <!-- angular -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-messages.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.18/angular-ui-router.min.js"></script>

    <!-- meanie -->
    <script src="/_dist/app.min.js"></script>
</body>
</html>