<div class="container account-index">
    <div class="row">
        <h1>Welcome {{vm.user.firstName}}, </h1>

        <div ng-show="vm.user.optradio == 'yes'">
            <div class="row">
                <div class="col-md-12">
                <strong>SNAPPER congratulates you on joining our photographer community. It is a proud moment for us to have you with us.</strong>

                <div ng-hide="editorEnabled">
                    
                    <div class="span3 well">                        
                        <form name="profileForm" novalidate role="form" method="post">    
                            <button class="btn btn-sm btn-primary" ng-click="vm.enableEditor()">Edit Profile</button>                        
                            <center>
                                <img ng-src="/static/uploads/{{vm.profile.imageurl || 'no-image-available.jpg'}}" name="aboutme"
                                    width="140" height="140" border="0" class="img-circle">                                
                                <h3 class="media-heading">{{vm.user.firstName}} {{vm.user.lastName}}<small> {{vm.profile.city || 'City'}}, {{vm.profile.state || 'State'}}, {{vm.profile.country || 'Country'}}</small></h3>
                                <span><strong>Categories: </strong></span>
                                <span class="label label-warning" ng-repeat="cat in vm.profile.categories">{{cat}} </span>
                            </center>
                            <hr>
                            <left>
                                <p><strong>Personal Information: </strong></p>

                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="address1">Street Address 1</label>
                                        <label>{{vm.profile.address1}}</label><br />

                                        <label for="address1">Street Address 2</label>
                                        <label>{{vm.profile.address2}}</label><br />

                                        <label for="address1">City</label>
                                        <label>{{vm.profile.city}}</label><br />

                                        <label for="address1">State</label>
                                        <label>{{vm.profile.state}}</label><br />

                                        <label for="address1">Country</label>
                                        <label>{{vm.profile.country}}</label><br />

                                        <label for="address1">ZipCode</label>
                                        <label>{{vm.profile.zipcode}}</label><br />
                                    </div>
                                
                                    <div class="col-md-5 col-md-offset-2">
                                        <label for="address1">Phone Number</label>
                                        <label>{{vm.profile.phone1}}</label><br />

                                        <label for="address1">Alt. Phone Number</label>
                                        <label>{{vm.profile.phone2}}</label><br />

                                        <label for="gender">Gender</label>
                                        <label>{{vm.profile.gender}}</label><br />

                                        <label for="gender">Experience in Photography</label>
                                        <label>{{vm.profile.experience}}</label>                                         
                                    </div>
                                </div>

                            </left>
                            <hr>
                            <left>
                                <p><strong>Snippet:</strong></p>
                                <label>{{vm.profile.snippet}}</label><br />
                                <br>
                            </left>
                            <hr>
                            <left>
                                <p><strong>Select the categories you would like to handle: </strong></p>

                                <div class="container row">
                                    <span ng-repeat="cat in vm.profile.categories">
                                        <div class="col-md-2 col-xs-6">                                                                                    
                                                {{cat}}                                        
                                        </div>
                                    </span>
                                </div>
                            </left>
                            <hr>                            
                            <left>
                                <p><strong>Select the languages you would like to communicate in: </strong></p>
                                 <div class="container row">
                                    <span ng-repeat="lan in vm.profile.languages">
                                        <div class="col-md-2 col-xs-6">                                      
                                                {{lan}}                                        
                                        </div>
                                    </span>
                                </div>
                            </left>
                            <hr>
                            <left>
                                <p><strong>How much would you charge a customer:</strong> min and max price in INR(Indian Rupees)</p>                                
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2">
                                            <label for="address1">Minimum Price</label>
                                            <label>{{vm.profile.minprice}}</label>
                                        </div>
                                        <div class="col-lg-2 col-md-2">
                                            <label for="address1">Maximum Price</label>
                                            <label>{{vm.profile.maxprice}}</label>
                                        </div>
                                    </div>                              
                            </left><hr />
                            <button class="btn btn-sm btn-primary" ng-click="vm.enableEditor()">Edit Profile</button>                       
                        </form>
                    </div>
                    
                </div>



                <div ng-show="editorEnabled">
                    <div class="span3 well">
                        <form name="profileForm" novalidate role="form" method="post">                        
                            <center>
                                <img ng-src="/static/uploads/{{vm.profile.imageurl || 'no-image-available.jpg'}}" name="aboutme"
                                    width="140" height="140" border="0" class="img-circle">
                                <span class="btn btn-primary btn-file">
                                    Browse<input type = "file" file-model = "myFile"/>
                                </span>
                                <button class="btn btn-small btn-success" ng-click="vm.uploadFile()">Upload File</button>
                                <h3 class="media-heading">{{vm.user.firstName}} {{vm.user.lastName}}<small> {{vm.profile.city || 'City'}}, {{vm.profile.state || 'State'}}, {{vm.profile.country || 'Country'}}</small></h3>
                                <span><strong>Categories: </strong></span>
                                <span class="label label-warning" ng-repeat="cat in vm.profile.categories">{{cat}} </span>
                            </center>
                            <hr>
                            <left>
                                <p><strong>Personal Information: </strong></p>

                                <div class="row">
                                    <div class="col-md-5">
                                        <label for="address1">Street Address 1</label>
                                        <input type="textbox" class="form-control" ng-model="vm.profile.address1" ng-show="editorEnabled" /><br />

                                        <label for="address1">Street Address 2</label>
                                        <input type="textbox" class="form-control" ng-model="vm.profile.address2" ng-show="editorEnabled" /><br />

                                        <label for="address1">City</label>
                                        <input type="textbox" class="form-control" ng-model="vm.profile.city" ng-show="editorEnabled" /><br />

                                        <label for="address1">State</label>
                                        <input type="textbox" class="form-control" ng-model="vm.profile.state" ng-show="editorEnabled" /><br />

                                        <label for="address1">Country</label>
                                        <input type="textbox" class="form-control" ng-model="vm.profile.country" ng-show="editorEnabled" /><br />

                                        <label for="address1">ZipCode</label>
                                        <input type="textbox" class="form-control" ng-model="vm.profile.zipcode" ng-show="editorEnabled" /><br />
                                    </div>
                                
                                    <div class="col-md-5 col-md-offset-2">
                                        <label for="address1">Phone Number</label>
                                        <input type="textbox"  class="form-control" ng-model="vm.profile.phone1" /><br />

                                        <label for="address1">Alt. Phone Number</label>
                                        <input type="textbox"  class="form-control" ng-model="vm.profile.phone2" /><br />

                                        <label for="gender">Gender</label>
                                        <select aria-label="ngSelected gender" class="form-control" ng-model="vm.profile.gender">
                                            <option id="male">Male</option>
                                            <option id="female" ng-selected="selected">Female</option>
                                            <option id="others">Others</option>
                                        </select><br />


                                        <label for="gender">Experience in Photography</label>
                                        <select aria-label="ngSelected experience"class="form-control" ng-model="vm.profile.experience">
                                            <option>Less than 1 Year</option>
                                            <option>1 Year</option>
                                            <option ng-selected="selected">2 Years</option>
                                            <option>3 Years</option>
                                            <option>4 Years</option>
                                            <option>5 Years</option>
                                            <option>More than 5 Years</option>
                                        </select>

                                    </div>
                                </div>

                            </left>
                            <hr>
                            <left>
                                <p><strong>Snippet:</strong></p>
                                <textarea rows="2" id="snippet" ng-model="vm.profile.snippet" class="form-control" placeholder="Tell something about yourself in a line"></textarea>
                                <br>
                            </left>
                            <hr>
                            <left>
                                <p><strong>Select the categories you would like to handle: </strong></p>
                                <div class="container row">
                                    <span ng-repeat="category in vm.categoryList">
                                        <div class="col-md-2 col-xs-6">
                                            <label class="checkbox" for="{{category}}">                                        
                                                <input name="group" type="checkbox" checklist-model="vm.profile.categories" checklist-value="category"> {{category}}                                        
                                            </label>
                                        </div>
                                    </span>
                                </div>
                            </left>
                            <hr>                            
                            <left>
                                <p><strong>Select the languages you can communicate in: </strong></p>
                                 <div class="container row">
                                    <span ng-repeat="language in vm.languageList">
                                        <div class="col-md-2 col-xs-6">
                                            <label class="checkbox" for="{{language}}">                                        
                                                <input name="group" type="checkbox" checklist-model="vm.profile.languages" checklist-value="language"> {{language}}                                        
                                            </label>
                                        </div>
                                    </span>
                                </div>
                            </left>
                            <hr>
                            <left>
                                <p><strong>How much would you charge a customer:</strong> min and max price in INR(Indian Rupees)</p>                                
                                    <div class="row">
                                        <div class="col-lg-2 col-md-2">
                                            <label for="address1">Minimum Price</label>
                                            <input type="number"  class="form-control" ng-model="vm.profile.minprice" />
                                        </div>
                                        <div class="col-lg-2 col-md-2">
                                            <label for="address1">Maximum Price</label>
                                            <input type="number"  class="form-control" ng-model="vm.profile.maxprice" />
                                        </div>
                                    </div>                              
                            </left>                       
                            <hr>
                            <center>
                                <button class="btn btn-md btn-primary" ng-click="vm.saveProfile()">Save</button>
                                <button class="btn btn-md btn-primary" ng-click="vm.disableEditor()()">Cancel</button>
                            </center>
                        </form>
                    </div>

                </div><!--editor enabled tag-->

                </div>
            </div>
        </div>

        <div ng-show="vm.user.optradio == 'no'">
            <div class="row">
                <div class="col-md-12">
                    <strong>SNAPPER congratulates you on joining our customer community. It is a proud moment for us to have you with us.</strong>
                    <div class="span3 well">
                        <h3>Booking a photograher online is as easy as this gets!</h3>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>









